@import '@lib/screens.scss';

.EmpCounter-body {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: Montserrat-SemiBold;

  &-title {
    margin-bottom: 10px;
  }

  &-counter {
    width: 50%;

    @include mobileScreen {
      width: 100%;
    }
  }
}
