@import '@lib/screens.scss';

.Menu-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0505050f;
  padding-right: 20px;
  padding-left: 20px;
  height: 70px;

  &-rightSide {
    display: flex;
    align-items: center;

    &-drawer {
      &-menu {
        border-inline-end: none !important;
        font-family: Montserrat-SemiBold;
      }

      // ANT DESIGN HACKY CODE
      .ant-drawer-title {
        order: 1;
        font-family: Montserrat-SemiBold;
        font-size: 30px;
      }

      .ant-drawer-header-title button {
        margin-inline-end: 0;
      }

      .ant-drawer-close {
        order: 2;
      }

      .ant-menu-item {
        display: flex;
        align-items: center;
      }
    }

    &-exitBtn {
      font-family: Montserrat-SemiBold;
      margin-left: 4px;
      display: flex;
      align-items: center;
      height: 40px;
      width: 100%;
    }
  }
}
