@import '@lib/colors.scss';

.SubsList_List_Btns-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  Button {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
