@import '@lib/screens.scss';

.QtyVisualSelector-body {
  margin-right: 10px;
  margin-left: 10px;

  @include mobileScreen {
    margin: 0;
  }

  &-radio {
    @include mobileScreen {
      display: none;
    }
  }

  &-selector {
    width: 100%;

    @include desktopScreen {
      display: none;
    }
  }
}
