@import '@lib/screens.scss';

.RightSideBtns-body {
  display: flex;
  align-items: center;

  .RightSideBtns-body-dropDown {
    box-shadow: none;
    font-family: Montserrat-SemiBold;
  }

  .RightSideBtns-body-btn {
    margin-right: 10px;
  }
}
