.List_BtnContainer-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  Button {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-trashBtn {
    &:hover {
      color: red !important;
      border-color: red !important;
    }
  }
}
